#game {
  width: 1170px;
  margin: 200px auto 0;
  display: table;
}

#game aside {
  width: 223px;
  display: table-cell;
}

#game content {
  border: 1px solid red;
  background: red;
  width: 945px;
  height:100%;
  display: table-cell;
}

#game header {
  background: white;
}

#map {
  width: 944px;
  height: 519px;
}