#login {
  background: #6c9198 url(/assets/img/world.png) no-repeat center center;
  position: absolute;
  height:100%;
  width: 100%;
  z-index: 10;
}

#login form {
  width:200px;
  height:200px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -100px;
}

#login form input {
  display:block
}

#login form button {
  display:block
}