<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base href="/"/>
  <title>Win Team Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less">

  <script src="/bower_components/less.js/dist/less-1.4.0.js"></script>
  <script src="/bower_components/jquery/jquery.js"></script>
  <script src="/bower_components/leaflet/dist/leaflet.js"></script>

  <script src="/bower_components/angular/angular.js"></script>

</head>

<body>

  Hello !
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });
  </script>
</body>

</html>