<!DOCTYPE html>
<html ng-app="mapMonde">
<head>
  <meta charset="utf-8">
  <base href="/"/>
  <title>Win Team Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less">
  <link rel="stylesheet" type="text/css" href="/bower_components/leaflet/dist/leaflet.css">

</head>

<body ng-controller="mapMondeCtrl">

  <div id="logo"></div>

  <div id="login" ng-show="user.logged">
    <form>
      <input type="text" ng-model="user.nickname" placeholder="Pseudo" required>
      <a class="btn btn-block btn-primary btn-large" ng-click="login()">Join</a>
    </form>
  </div>

  <div id="game" ng-show="!user.logged">
    <div>
      <div class="message">
        <p>Question :</p>
        <p>Lorem ipsum et tout le merdier</p>
      </div>
      <map ng-show="question"></map>
    </div>
    <div>
      <p>Joueurs</p>
      <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>
    </div>
  </div>

  <script src="/bower_components/less.js/dist/less-1.4.0.js"></script>
  <script src="/bower_components/jquery/jquery.js"></script>
  <script src="/bower_components/leaflet/dist/leaflet.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script src="/bower_components/angular/angular.js"></script>

  <script src="/app.js"></script>
  <script src="/modules/map.js"></script>

</body>

</html>