<!DOCTYPE html>
<html ng-app="mapMonde">
<head>
  <meta charset="utf-8">
  <base href="/"/>
  <title>Win Team Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less">
  <link rel="stylesheet" type="text/css" href="/bower_components/leaflet/dist/leaflet.css">

</head>

<body ng-controller="mapMondeCtrl" ng-class="{'world': !user.logged}">

  <div id="logo"></div>

  <div id="login" ng-show="! user.logged">
    <form>
      <input type="text" ng-model="user.nickname" placeholder="Pseudo" required>
      <button type="submit" class="btn btn-block btn-primary btn-large" ng-click="login()">Join</button>
    </form>
  </div>

  <div id="game">
    <content>
      <header>
        <div class="message" ng-show="! waiting">
          <p>Question :</p>
          <p>{{question.question}}</p>
          <div timer></div>
        </div>
        <div class="waiting" ng-show="waiting">
          Waiting...
        </div>
      </header>
      <map ng-show="! waiting"></map>
    </content>
    <aside ng-show="! waiting && result">
      <p>Classement</p>
      <ul>
        <li ng-repeat="rank in result.ranking">{{rank.nickname}} - {{rank.score}}</li>
      </ul>
    </aside>
    <div class="content">
      <header>
        <div class="message">
          <p class="head">Question :</p>
          <p class="question">Lorem ipsum et tout le merdier</p>
        </div>
      </header>
      <map ng-show="question"></map>
      <div ng-show="!question">Please wait ...</div>
    </div>
  </div>

  <script src="/bower_components/less.js/dist/less-1.4.0.js"></script>
  <script src="/bower_components/jquery/jquery.js"></script>
  <script src="/bower_components/leaflet/dist/leaflet.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/circular-progress/circular-progress.js"></script>

  <script src="/app.js"></script>
  <script src="/modules/map/map.js"></script>
  <script src="/modules/timer/timer.js"></script>

</body>

</html>