<!DOCTYPE html>
<html ng-app="mapMonde">
<head>
  <meta charset="utf-8">
  <base href="/"/>
  <title>Win Team Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less">
  <link rel="stylesheet" type="text/css" href="/bower_components/leaflet/dist/leaflet.css">

</head>

<body ng-controller="mapMondeCtrl">

  <div id="login" ng-show="!user.logged">
    <form>
      <input type="text" ng-model="user.nickname" required>
      <button type="submit" ng-click="login()">Join</button>
    </form>
  </div>

  <map ng-show="user.logged"></map>

  <script src="/bower_components/less.js/dist/less-1.4.0.js"></script>
  <script src="/bower_components/jquery/jquery.js"></script>
  <script src="/bower_components/leaflet/dist/leaflet.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script src="/bower_components/angular/angular.js"></script>

  <script src="/app.js"></script>
  <script src="/modules/map.js"></script>

</body>

</html>